  body {
      background-image: url('../../Week1/images/background.jpg');
      font-family: 'Didact Gothic';font-size: 22px
  }

  #profile {
      border: 10px solid #555;
      vertical-align: middle
  }

  p {
      display: inline-block
  }
