  body {
      background-image: url('../images/background.jpg');
      font-family: 'Abel';font-size: 22px
  }

  #profile {
      border: 10px solid #555;
      vertical-align: middle
  }

  p {
      display: inline-block
  }
