body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 320px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:25px;
    background-color: #eed6f8;
	text-align: center;
	font-family: 'Abril Display';
	font-weight: bolder;
	font-size: 30px;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #d4b2e2;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.5;
	overflow: auto; /* allows the sidebar to overflow with a scrollbar */
}
.content {
	grid-area: content;
}

.sidebar-item {
	padding: 10px;
	background: rgb(252, 212, 248);
	border: 1px solid white;
	margin: 20px;
	cursor: pointer; /* change cursor to hand on hover */
	border-radius: 13px;
	text-align: center;
}
/* change button color when hovering*/
.sidebar-item:hover {
	background: gainsboro;
	border: 1px solid gray;
}
/* make button click*/
.sidebar-item:active {
	background: gainsboro;
	transform: translateY(4px);
  }